<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h1 class="text-5xl font-bold my-5">About Us</h1>
    <p class="text-zinc-300">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem fugit aut commodi facilis laborum corporis aspernatur blanditiis veniam tenetur quibusdam dolores accusantium ipsam recusandae quo quidem culpa neque explicabo, natus similique aperiam. Ab quod voluptas dicta aut dolorum blanditiis repudiandae.</p>
</section>