---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Acerca del sitio">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur ipsam, voluptates, ipsum alias fuga at corporis veniam excepturi repellat debitis corrupti deserunt! Ut voluptas nobis ullam aut enim cumque maiores eos quos? Nihil libero corporis est neque minus. Dolores sed sapiente eius, atque debitis tenetur omnis alias quas. Illum, nobis ut fugiat deleniti illo delectus praesentium? Ratione repellat similique obcaecati odit eius, laudantium dignissimos aliquam, nemo consequatur ad modi itaque distinctio aperiam nulla nesciunt earum numquam. Ipsa temporibus vitae amet consequuntur recusandae debitis quam ipsum dolore odit. Sint sequi atque ut fuga amet rerum reiciendis magnam, ducimus quam tempore accusantium necessitatibus saepe laborum iusto neque fugit! Quod, quidem cum. Ab eius harum cumque quisquam doloribus omnis ducimus autem asperiores repudiandae!</p>
</Layout>